* {
  margin: 0;
  padding: 0;
}
.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
#outer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 3%;
  row-gap: 3rem;
}

#outer h1 {
  text-decoration: underline;
}
.main {
  display: flex;
  justify-content: center;
}
#left {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

#self-card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1em;
  width: 20rem;
  height: 30rem;
  row-gap: 1rem;
  justify-content: space-around;
  border-radius: 20px;
  background-color: white;
}
#self-card img {
  align-self: center;
  width: 20em;
  height: 15em;
  border-radius: 15px;
  object-fit: cover;
  object-position: 50% 50%;
}
#name {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  color: #616060;
}
#role {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}
#mail,
#num {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #828282;
}
#about {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0em;
  text-align: left;
  /* width: 35ch; */
  height: 3.5em;
  overflow: hidden;
  color: #828282;
}
#experiences-card {
  display: flex;
  flex-direction: column;
  width: 22rem;
  height: 30rem;
  justify-content: space-around;
  border-radius: 20px;
  background-color: white;
}

#exp {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  width: 148px;
  height: 29px;
  margin-left: 20px;
}

.experience {
  display: flex;
  justify-content: space-around;
  column-gap: 1rem;
  padding: 0.5rem;
}
.experience-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  row-gap: 1rem;
}
.role {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.period {
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #3d3d3d;
}
.logo img {
  width: 40px;
  height: 40px;
  padding: 5px;
}
.about-role {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #3d3d3d;
}
.hobbies-card {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  background-color: white;
  width: 20rem;
  padding: 1rem;
  row-gap: 3rem;
}
.hobbies-card :nth-child(1) {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
}
.hobby {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}
.hobby img {
  width: 22rem;
  height: 8rem;
  object-fit: cover;
  object-position: -2rem -8rem;
  border-radius: 10px;
}
#hobby-3 img {
  width: 20rem;
  height: 7rem;
  object-position: 0rem -12rem;
}
.hobby-name {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
}
.hobby-about {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  color: #3d3d3d;
}
#right {
  margin-left: 2rem;
  display: flex;
  flex-direction: column;
  row-gap: 3rem;
}
#domain-1 {
  display: flex;
  flex-direction: column;
  padding: 5%;
  border-radius: 1rem;
  row-gap: 1rem;
  flex-grow: 1;
}
.skill {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  column-gap: 1rem;
  justify-content: space-between;
}
.skill-name {
  min-width: max(10ch, 5%);
}
.domain-name {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
}
.bar {
  background-color: #828282;
  width: 12rem;
  height: 0.7rem;
  border-radius: 5px;
  flex-grow: 1;
}
.bar-fill {
  background-color: aqua;
  height: 0.7rem;
  border-radius: 5px;
}
.width-60 {
  width: 60%;
}
.width-70 {
  width: 70%;
}
.width-80 {
  width: 80%;
}
.width-90 {
  width: 90%;
}
#domain {
  display: flex;
  align-content: space-around;
  gap: 2rem;
}
#domain-2 {
  display: flex;
  flex-direction: column;
  border-radius: 4%;
  padding: 5%;
  flex-grow: 1;
  border-radius: 1rem;
  row-gap: 1rem;
}
.projects {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 100%;
  justify-content: stretch;
}
.project {
  display: flex;
  padding: 2rem;
  column-gap: 2rem;
  border-radius: 1rem;
}
.about-project {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  min-width: 200px;
  justify-content: space-around;
}
.project div img {
  border-radius: 1rem;
  width: 80%;
  object-fit: cover;
}

.button-1 {
  background-color: #008cff;
  border-radius: 12px;
  color: #000;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 5rem;
  height: 3rem;
  box-sizing: border-box;
  border: 0;
  font-size: 80%;
}
.image-div {
  box-sizing: content-box;
}
.button-1:not(:disabled):hover,
.button-1:not(:disabled):focus {
  outline: 0;
  background: #f4e603;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2), 0 3px 8px 0 rgba(0, 0, 0, 0.15);
}

.blogs {
  display: flex;
  flex-direction: column;
  row-gap: 1.5rem;
  width: 100%;
  justify-content: stretch;
}
.blog {
  display: flex;
  padding: 2rem;
  column-gap: 2rem;
  border-radius: 1rem;
}
.blog div img {
  width: 80%;
  object-fit: fill;
  border-radius: 1rem;
}
.about-blog {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}
@media (max-width: 1200px) {
  #main {
    column-gap: 5rem;
  }
  .project {
    flex-direction: column;
    padding: 2% 20%;
    row-gap: 2rem;
  }
  .blog {
    flex-direction: column;
    padding: 2% 20%;
    row-gap: 2rem;
  }
  .about-project {
    row-gap: 1rem;
  }
  #domain {
    flex-direction: column;
  }
}

@media (max-width: 740px) {
  .main {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    row-gap: 2rem;
  }
  #left {
    flex-wrap: wrap;
    align-content: center;
  }
}
